<h1>Students Details Form</h1>
<form [formGroup]="studentForm">
    <label> Name </label><input type="text" formControlName= "name"><br>
    <div formGroupName = "addresses">
      <label> Type </label>
        <select formControlName="type">
          <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select><br>
      <label> Street </label><input type="text" formControlName= "street"><br>
      <label> City </label><input type="text" formControlName= "city"><br>
      <label> State </label>
        <select formControlName="state">
          <option *ngFor="let state of states" [value]="state">{{state}}</option>
        </select><br>
      <label> Zip </label><input type="text" formControlName= "zip"><br>
      </div>
  </form>
<p>Form value: {{ studentForm.value | json }}</p>
<p>Name value: {{ studentForm.get('name').value }}</p>
<p>Street value: {{ studentForm.get('addresses.street').value}}</p>
<p>Form status: {{ studentForm.status | json }}</p>